PORT=30001
PRIVOS_URL=https://privos.roxane.one
PRIVOS_BOT_TOKEN=<bot-token>
PRIVOS_BOT_USER_ID=<bot-user-id>
PRIVOS_WEBHOOK_SECRET=<webhook-secret>
TVIBE_URL=https://tvibe.roxane.one
TVIBE_API_KEY=<api-access-key>
TVIBE_PROJECT_NAME=privos-bot
TVIBE_TASK_TITLE=Privos Chat
